{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "REST API",
    "description": ""
  },
  "host": "phaedra.poc.openanalytics.io",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/phaedra/datacapture-service/job": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Not Found"
          }
        }
      },
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "sourcePath",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/phaedra/datacapture-service/jobs": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "type": "string"
          },
          {
            "name": "toDate",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/phaedra/datacapture-service/cancel": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/phaedra/datacapture-service/job/config": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/phaedra/datacapture-service/upload-data": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/phaedra/datacapture-service/scanjob": {
      "post": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/phaedra/datacapture-service/scanjob/{id}/run": {
      "post": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    },
    "/phaedra/datacapture-service/scanjobs": {
      "get": {
        "description": "",
        "parameters": [],
        "responses": {}
      }
    },
    "/phaedra/datacapture-service/scanjob/{id}": {
      "get": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      },
      "put": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      },
      "delete": {
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {}
      }
    }
  }
}
